.statement {
  font-size: 20px;
  margin: 30px auto;
  background-color: rgb(142, 202, 241, 0.45);
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px 18px;
  text-align: center;
  max-width: 1000px;
}

.Icon {
  padding-right: 10px;
}

.Icon.technical {
  color: #0288d1;
}
.Icon.tools {
  color: #43a047;
}
.Icon.design {
  color: #f9a825;
}

.Icon.experience {
  color: #6a1b9a;
}

.education-cards {
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.experience-summary {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  color: black;
  padding-bottom: 10px;
  margin-left: 10px;
}

.experience-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.experience-item + .experience-item {
  border-top: 1px solid #ccc;
  padding-top: 16px;
  margin-top: 16px;
}

.experience-logo {
  width: 80px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  flex-shrink: 0;
  margin-right: 10px;
}

.experience-logo-MSU {
  width: 125px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  flex-shrink: 0;
  margin-left: -20px;
  margin-right: -10px;
}

.experience-text {
  flex: 1;
}

.experience-text h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.experience-text p {
  margin: 0;
  line-height: 1.4;
}

@media (max-width: 700px) {
  .experience-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .experience-logo {
    width: 100px;
    margin-bottom: 10px;
  }
}

.projects-link-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* space between text and link */
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.projects-text {
  margin: 0;
  font-weight: 500;
}

.projects-link {
  text-decoration: none;
  color: #0a58ca;
  font-weight: 700;
  transition: color 0.2s ease;
}

.projects-link:hover {
  color: #084298;
  text-decoration: underline;
}
