.funding {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.MSU-logo {
  width: 80px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  flex-shrink: 0;
  margin-right: 10px;
}

.funding-text {
  flex: 1;
}

.funding-text {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
}
